<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>FiltraUsuarios</title>
</head>

<body>
    <!--Empieza barra de navegación (navbar)-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="eleccion">Analizar <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto right">
                    <li class="nav-item active">
                        <a class="nav-link" href="acerca">Acerca <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="contacto">Contacto <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Termina barra de navegación (navbar)-->
    <!--Empieza seccion de filtro usuarios agresivos-->
    <main>
        <h2 class="title">Resultados</h2>
        <div class="section-rsult">
            <div class="container-blockUser">
                <h5>Lista de usuarios bloqueados</h5>
                {%for user in resu[0]%}
                <div class="blockUs">
                    <li>{{user}}</li>
                </div>
                {%endfor%}
            </div>
            <div class="container-blockMsj">
                <h5>Lista de mensajes que no son agresivos y que no pertenecen a los usuarios bloqueados</h5>
                {%for msj in resu[1]%}
                    <div class="blockMsj">
                        <li>{{msj['text']}}</li>
                    </div>
                {%endfor%}
            </div>
            <div class="generate-report">
                <h5>Tu reporte esta listo. Click <a href="">aqui</a> para descargar</h5>
            </div>
            <div class="prueba">
                <button class="button-resul" onclick="location.href='/'">Continuar</button>
            </div>
        </div>
    </main>
    <!--Termina seccion de filtro usuarios agresivos-->
</body>

</html>